## Instala as Bibliotecas

In [20]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/everton/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in /home/everton/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /home/everton/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in /home/everton/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/everton/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/everton/.local/lib/python3.10/site-packages (2.0.29)
Requirement already satisfied: greenlet!=0.4.17 in /home/everton/.local/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/everton/.local/lib/python3.10/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in /home/everton/.local/lib/python3.10/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

## Importar as Bibliotecas

In [23]:
import pandas as pd
pd.set_option("display.max_colwidth", 150)
pd.set_option("display.min_rows", 20)

from sqlalchemy import create_engine

from datetime import datetime

import time

## Definir função para buscar os Dados

In [24]:
def busca_titulos_tesouro_direto():
    url = 'https://www.tesourotransparente.gov.br/ckan/dataset/df56aa42-484a-4a59-8184-7676580c81e3/resource/796d2059-14e9-44e3-80c9-2d9e30b405c1/download/PrecoTaxaTesouroDireto.csv'
    df = pd.read_csv(url, sep=';', decimal=',')
    df['Data_Vencimento'] = pd.to_datetime(df['Data Vencimento'], dayfirst=True)
    df['Data_Base'] = pd.to_datetime(df['Data Base'], dayfirst=True)
    multi_indice = pd.MultiIndex.from_frame(df.iloc[:,:3])
    df = df.set_index(multi_indice).iloc[:, 3:]
    return df

## Busca os títulos do Tesouro Direto

In [25]:
titulos = busca_titulos_tesouro_direto()

In [26]:
titulos

                                                                   Taxa Compra Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IPCA+ com Juros Semestrais     15/08/2024      06/01/2005               8.83
                                       15/05/2015      06/01/2005               8.76
Tesouro IGPM+ com Juros Semestrais     01/07/2005      06/01/2005               9.31
                                       01/12/2005      06/01/2005               9.31
                                       01/12/2006      06/01/2005               8.99
                                       01/04/2008      06/01/2005               8.76
                                       01/03/2011      06/01/2005               8.32
                                       01/01/2031      06/01/2005               8.24
                                       01/04/2021      06/01/2005               8.25
                                       01/07/2017      06/01/2005               8.26
...                                                                              ...
                                       01/01/2031      27/02/2009               7.01
                                       01/04/2021      27/02/2009               7.12
                                       01/07/2017      27/02/2009               7.69
                                       01/03/2011      27/02/2009               7.22
Tesouro Prefixado com Juros Semestrais 01/01/2011      27/02/2009              11.22
                                       01/07/2010      27/02/2009              10.92
                                       01/01/2010      27/02/2009              10.85
                                       01/01/2012      27/02/2009              11.83
                                       01/01/2013      27/02/2009              12.34
                                       01/01/2014      27/02/2009              12.71

                                                                   Taxa Venda Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IPCA+ com Juros Semestrais     15/08/2024      06/01/2005              8.91
                                       15/05/2015      06/01/2005              8.84
Tesouro IGPM+ com Juros Semestrais     01/07/2005      06/01/2005              9.33
                                       01/12/2005      06/01/2005              9.33
                                       01/12/2006      06/01/2005              9.01
                                       01/04/2008      06/01/2005              8.80
                                       01/03/2011      06/01/2005              8.38
                                       01/01/2031      06/01/2005              8.34
                                       01/04/2021      06/01/2005              8.33
                                       01/07/2017      06/01/2005              8.34
...                                                                             ...
                                       01/01/2031      27/02/2009              7.11
                                       01/04/2021      27/02/2009              7.20
                                       01/07/2017      27/02/2009              7.75
                                       01/03/2011      27/02/2009              7.26
Tesouro Prefixado com Juros Semestrais 01/01/2011      27/02/2009             11.27
                                       01/07/2010      27/02/2009             10.96
                                       01/01/2010      27/02/2009             10.89
                                       01/01/2012      27/02/2009             11.89
                                       01/01/2013      27/02/2009             12.40
                                       01/01/2014      27/02/2009             12.77

                                                                   PU Compra Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IPCA+ com Juros Semestrais     15/08/2024      06/01/2005          1140.78
                                       15/05/2015      06/01/2005          1230.01
Tesouro IGPM+ com Juros Semestrais     01/07/2005      06/01/2005          1780.21
                                       01/12/2005      06/01/2005          1766.91
                                       01/12/2006      06/01/2005          1811.68
                                       01/04/2008      06/01/2005          1702.81
                                       01/03/2011      06/01/2005          1652.08
                                       01/01/2031      06/01/2005          2514.30
                                       01/04/2021      06/01/2005          1485.97
                                       01/07/2017      06/01/2005          1504.09
...                                                                            ...
                                       01/01/2031      27/02/2009          3481.03
                                       01/04/2021      27/02/2009          2098.76
                                       01/07/2017      27/02/2009          2036.88
                                       01/03/2011      27/02/2009          2188.09
Tesouro Prefixado com Juros Semestrais 01/01/2011      27/02/2009           997.20
                                       01/07/2010      27/02/2009          1006.12
                                       01/01/2010      27/02/2009          1009.32
                                       01/01/2012      27/02/2009           975.34
                                       01/01/2013      27/02/2009           950.03
                                       01/01/2014      27/02/2009           924.97

                                                                   PU Venda Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IPCA+ com Juros Semestrais     15/08/2024      06/01/2005         1132.26
                                       15/05/2015      06/01/2005         1223.27
Tesouro IGPM+ com Juros Semestrais     01/07/2005      06/01/2005         1780.06
                                       01/12/2005      06/01/2005         1766.63
                                       01/12/2006      06/01/2005         1811.08
                                       01/04/2008      06/01/2005         1700.99
                                       01/03/2011      06/01/2005         1647.48
                                       01/01/2031      06/01/2005         2489.90
                                       01/04/2021      06/01/2005         1475.34
                                       01/07/2017      06/01/2005         1494.60
...                                                                           ...
                                       01/01/2031      27/02/2009         3447.48
                                       01/04/2021      27/02/2009         2085.68
                                       01/07/2017      27/02/2009         2029.51
                                       01/03/2011      27/02/2009         2186.54
Tesouro Prefixado com Juros Semestrais 01/01/2011      27/02/2009          996.44
                                       01/07/2010      27/02/2009         1005.66
                                       01/01/2010      27/02/2009         1009.02
                                       01/01/2012      27/02/2009          974.04
                                       01/01/2013      27/02/2009          948.41
                                       01/01/2014      27/02/2009          923.08

                                                                   PU Base Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IPCA+ com Juros Semestrais     15/08/2024      06/01/2005        1131.60
                                       15/05/2015      06/01/2005        1222.56
Tesouro IGPM+ com Juros Semestrais     01/07/2005      06/01/2005        1779.01
                                       01/12/2005      06/01/2005        1765.59
                                       01/12/2006      06/01/2005        1810.03
                                       01/04/2008      06/01/2005        1700.02
                                       01/03/2011      06/01/2005        1646.57
                                       01/01/2031      06/01/2005        2488.52
                                       01/04/2021      06/01/2005        1474.52
                                       01/07/2017      06/01/2005        1493.78
...                                                                          ...
                                       01/01/2031      27/02/2009        3446.51
                                       01/04/2021      27/02/2009        2085.09
                                       01/07/2017      27/02/2009        2028.89
                                       01/03/2011      27/02/2009        2251.99
Tesouro Prefixado com Juros Semestrais 01/01/2011      27/02/2009         996.02
                                       01/07/2010      27/02/2009        1005.25
                                       01/01/2010      27/02/2009        1008.61
                                       01/01/2012      27/02/2009         973.61
                                       01/01/2013      27/02/2009         947.97
                                       01/01/2014      27/02/2009         922.64

                                                                  Data_Vencimento  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IPCA+ com Juros Semestrais     15/08/2024      06/01/2005      2024-08-15
                                       15/05/2015      06/01/2005      2015-05-15
Tesouro IGPM+ com Juros Semestrais     01/07/2005      06/01/2005      2005-07-01
                                       01/12/2005      06/01/2005      2005-12-01
                                       01/12/2006      06/01/2005      2006-12-01
                                       01/04/2008      06/01/2005      2008-04-01
                                       01/03/2011      06/01/2005      2011-03-01
                                       01/01/2031      06/01/2005      2031-01-01
                                       01/04/2021      06/01/2005      2021-04-01
                                       01/07/2017      06/01/2005      2017-07-01
...                                                                           ...
                                       01/01/2031      27/02/2009      2031-01-01
                                       01/04/2021      27/02/2009      2021-04-01
                                       01/07/2017      27/02/2009      2017-07-01
                                       01/03/2011      27/02/2009      2011-03-01
Tesouro Prefixado com Juros Semestrais 01/01/2011      27/02/2009      2011-01-01
                                       01/07/2010      27/02/2009      2010-07-01
                                       01/01/2010      27/02/2009      2010-01-01
                                       01/01/2012      27/02/2009      2012-01-01
                                       01/01/2013      27/02/2009      2013-01-01
                                       01/01/2014      27/02/2009      2014-01-01

                                                                   Data_Base
Tipo Titulo                            Data Vencimento Data Base
Tesouro IPCA+ com Juros Semestrais     15/08/2024      06/01/2005 2005-01-06
                                       15/05/2015      06/01/2005 2005-01-06
Tesouro IGPM+ com Juros Semestrais     01/07/2005      06/01/2005 2005-01-06
                                       01/12/2005      06/01/2005 2005-01-06
                                       01/12/2006      06/01/2005 2005-01-06
                                       01/04/2008      06/01/2005 2005-01-06
                                       01/03/2011      06/01/2005 2005-01-06
                                       01/01/2031      06/01/2005 2005-01-06
                                       01/04/2021      06/01/2005 2005-01-06
                                       01/07/2017      06/01/2005 2005-01-06
...                                                                      ...
                                       01/01/2031      27/02/2009 2009-02-27
                                       01/04/2021      27/02/2009 2009-02-27
                                       01/07/2017      27/02/2009 2009-02-27
                                       01/03/2011      27/02/2009 2009-02-27
Tesouro Prefixado com Juros Semestrais 01/01/2011      27/02/2009 2009-02-27
                                       01/07/2010      27/02/2009 2009-02-27
                                       01/01/2010      27/02/2009 2009-02-27
                                       01/01/2012      27/02/2009 2009-02-27
                                       01/01/2013      27/02/2009 2009-02-27
                                       01/01/2014      27/02/2009 2009-02-27

[141799 rows x 7 columns]

## Busca somente os Préfixados

In [27]:
prefixado = titulos.loc[('Tesouro Prefixado')]
prefixado['Tipo'] = "PRE-FIXADOS"

/tmp/ipykernel_27829/4185398122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prefixado['Tipo'] = "PRE-FIXADOS"

In [28]:
prefixado

,,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha,Data_Vencimento,Data_Base,Tipo
Data Vencimento,Data Base,,,,,,,,
01/04/2005,05/01/2005,18.41,18.45,961.85,961.77,961.13,2005-04-01,2005-01-05,PRE-FIXADOS
01/07/2005,05/01/2005,18.57,18.61,921.46,921.31,920.69,2005-07-01,2005-01-05,PRE-FIXADOS
01/10/2005,05/01/2005,18.53,18.59,882.07,881.75,881.15,2005-10-01,2005-01-05,PRE-FIXADOS
01/01/2006,05/01/2005,18.21,18.29,848.20,847.63,847.07,2006-01-01,2005-01-05,PRE-FIXADOS
01/07/2006,05/01/2005,17.75,17.83,785.68,784.89,784.38,2006-07-01,2005-01-05,PRE-FIXADOS
01/04/2005,04/01/2005,18.39,18.43,961.24,961.17,960.52,2005-04-01,2005-01-04,PRE-FIXADOS
01/07/2005,04/01/2005,18.61,18.65,920.69,920.54,919.92,2005-07-01,2005-01-04,PRE-FIXADOS
01/10/2005,04/01/2005,18.56,18.62,881.31,880.98,880.39,2005-10-01,2005-01-04,PRE-FIXADOS
01/01/2006,04/01/2005,18.19,18.27,847.78,847.21,846.64,2006-01-01,2005-01-04,PRE-FIXADOS
01/07/2006,04/01/2005,17.75,17.83,785.17,784.38,783.87,2006-07-01,2005-01-04,PRE-FIXADOS
...,...,...,...,...,...,...,...,...,...
01/10/2009,02/03/2009,10.89,10.93,941.48,941.28,940.89,2009-10-01,2009-03-02,PRE-FIXADOS
01/07/2009,02/03/2009,11.23,11.26,965.96,965.87,965.46,2009-07-01,2009-03-02,PRE-FIXADOS
01/01/2012,02/03/2009,11.41,11.47,736.92,735.80,735.48,2012-01-01,2009-03-02,PRE-FIXADOS
01/04/2009,02/03/2009,12.02,12.05,990.58,990.56,990.11,2009-04-01,2009-03-02,PRE-FIXADOS
01/01/2011,27/02/2009,11.18,11.23,823.41,822.73,822.38,2011-01-01,2009-02-27,PRE-FIXADOS
01/04/2009,27/02/2009,12.08,12.11,990.09,990.07,989.62,2009-04-01,2009-02-27,PRE-FIXADOS
01/07/2009,27/02/2009,11.31,11.35,965.32,965.21,964.79,2009-07-01,2009-02-27,PRE-FIXADOS
01/10/2009,27/02/2009,10.99,11.03,940.59,940.40,940.01,2009-10-01,2009-02-27,PRE-FIXADOS
01/01/2010,27/02/2009,10.81,10.85,917.64,917.36,916.99,2010-01-01,2009-02-27,PRE-FIXADOS
01/07/2010,27/02/2009,10.88,10.92,872.07,871.65,871.29,2010-07-01,2009-02-27,PRE-FIXADOS

In [29]:
for i, row in prefixado.iterrows():
    ifor_val = datetime.now()
    prefixado.at[i,'dt_update'] = ifor_val
    time.sleep(1/10000)

/tmp/ipykernel_27829/19975595.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prefixado.at[i,'dt_update'] = ifor_val

In [30]:
prefixado

,,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha,Data_Vencimento,Data_Base,Tipo,dt_update
Data Vencimento,Data Base,,,,,,,,,
01/04/2005,05/01/2005,18.41,18.45,961.85,961.77,961.13,2005-04-01,2005-01-05,PRE-FIXADOS,2024-04-23 01:01:40.049343
01/07/2005,05/01/2005,18.57,18.61,921.46,921.31,920.69,2005-07-01,2005-01-05,PRE-FIXADOS,2024-04-23 01:01:40.058095
01/10/2005,05/01/2005,18.53,18.59,882.07,881.75,881.15,2005-10-01,2005-01-05,PRE-FIXADOS,2024-04-23 01:01:40.058502
01/01/2006,05/01/2005,18.21,18.29,848.20,847.63,847.07,2006-01-01,2005-01-05,PRE-FIXADOS,2024-04-23 01:01:40.058959
01/07/2006,05/01/2005,17.75,17.83,785.68,784.89,784.38,2006-07-01,2005-01-05,PRE-FIXADOS,2024-04-23 01:01:40.059436
01/04/2005,04/01/2005,18.39,18.43,961.24,961.17,960.52,2005-04-01,2005-01-04,PRE-FIXADOS,2024-04-23 01:01:40.059986
01/07/2005,04/01/2005,18.61,18.65,920.69,920.54,919.92,2005-07-01,2005-01-04,PRE-FIXADOS,2024-04-23 01:01:40.060537
01/10/2005,04/01/2005,18.56,18.62,881.31,880.98,880.39,2005-10-01,2005-01-04,PRE-FIXADOS,2024-04-23 01:01:40.061117
01/01/2006,04/01/2005,18.19,18.27,847.78,847.21,846.64,2006-01-01,2005-01-04,PRE-FIXADOS,2024-04-23 01:01:40.061803
01/07/2006,04/01/2005,17.75,17.83,785.17,784.38,783.87,2006-07-01,2005-01-04,PRE-FIXADOS,2024-04-23 01:01:40.062523
...,...,...,...,...,...,...,...,...,...,...
01/10/2009,02/03/2009,10.89,10.93,941.48,941.28,940.89,2009-10-01,2009-03-02,PRE-FIXADOS,2024-04-23 01:01:50.346689
01/07/2009,02/03/2009,11.23,11.26,965.96,965.87,965.46,2009-07-01,2009-03-02,PRE-FIXADOS,2024-04-23 01:01:50.347185
01/01/2012,02/03/2009,11.41,11.47,736.92,735.80,735.48,2012-01-01,2009-03-02,PRE-FIXADOS,2024-04-23 01:01:50.347690
01/04/2009,02/03/2009,12.02,12.05,990.58,990.56,990.11,2009-04-01,2009-03-02,PRE-FIXADOS,2024-04-23 01:01:50.348186
01/01/2011,27/02/2009,11.18,11.23,823.41,822.73,822.38,2011-01-01,2009-02-27,PRE-FIXADOS,2024-04-23 01:01:50.348649
01/04/2009,27/02/2009,12.08,12.11,990.09,990.07,989.62,2009-04-01,2009-02-27,PRE-FIXADOS,2024-04-23 01:01:50.349129
01/07/2009,27/02/2009,11.31,11.35,965.32,965.21,964.79,2009-07-01,2009-02-27,PRE-FIXADOS,2024-04-23 01:01:50.349770
01/10/2009,27/02/2009,10.99,11.03,940.59,940.40,940.01,2009-10-01,2009-02-27,PRE-FIXADOS,2024-04-23 01:01:50.350254
01/01/2010,27/02/2009,10.81,10.85,917.64,917.36,916.99,2010-01-01,2009-02-27,PRE-FIXADOS,2024-04-23 01:01:50.350724
01/07/2010,27/02/2009,10.88,10.92,872.07,871.65,871.29,2010-07-01,2009-02-27,PRE-FIXADOS,2024-04-23 01:01:50.351225

## Busca os IPCAs

In [31]:
ipca = titulos.loc[('Tesouro IPCA+')]
ipca['Tipo'] = "IPCA"

/tmp/ipykernel_27829/3738600803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipca['Tipo'] = "IPCA"

In [32]:
for i, row in ipca.iterrows():
    ifor_val = datetime.now()
    ipca.at[i,'dt_update'] = ifor_val
    time.sleep(1/10000)

/tmp/ipykernel_27829/967398317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipca.at[i,'dt_update'] = ifor_val

In [33]:
ipca

                            Taxa Compra Manha  Taxa Venda Manha  \
Data Vencimento Data Base
15/08/2024      06/08/2009               6.45              6.53
15/05/2015      06/08/2009               6.58              6.64
15/08/2024      05/08/2009               6.48              6.56
15/05/2015      05/08/2009               6.60              6.66
15/08/2024      04/08/2009               6.51              6.59
15/05/2015      04/08/2009               6.60              6.66
15/08/2024      03/08/2009               6.52              6.60
15/05/2015      03/08/2009               6.63              6.69
15/08/2024      31/07/2009               6.52              6.60
15/05/2015      31/07/2009               6.67              6.73
...                                       ...               ...
15/08/2024      04/05/2009               7.18              7.26
15/05/2015      04/05/2009               7.38              7.44
                30/04/2009               7.36              7.42
15/08/2024      30/04/2009               7.16              7.24
                03/03/2009               6.92              7.00
15/05/2015      03/03/2009               7.19              7.25
15/08/2024      02/03/2009               6.88              6.96
15/05/2015      02/03/2009               7.28              7.34
15/08/2024      27/02/2009               6.90              6.98
15/05/2015      27/02/2009               7.37              7.43

                            PU Compra Manha  PU Venda Manha  PU Base Manha  \
Data Vencimento Data Base
15/08/2024      06/08/2009           722.50          714.42         714.17
15/05/2015      06/08/2009          1276.19         1272.06        1271.63
15/08/2024      05/08/2009           719.21          711.17         710.93
15/05/2015      05/08/2009          1274.38         1270.25        1269.81
15/08/2024      04/08/2009           715.94          707.94         707.69
15/05/2015      04/08/2009          1273.94         1269.81        1269.37
15/08/2024      03/08/2009           714.69          706.70         706.46
15/05/2015      03/08/2009          1271.43         1267.32        1266.88
15/08/2024      31/07/2009           714.45          706.46         706.08
15/05/2015      31/07/2009          1268.25         1264.14        1263.47
...                                     ...             ...            ...
15/08/2024      04/05/2009           632.51          625.36         625.10
15/05/2015      04/05/2009          1184.87         1180.89        1180.39
                30/04/2009          1185.70         1181.71        1180.70
15/08/2024      30/04/2009           634.05          626.88         626.34
                03/03/2009           644.82          637.44         637.14
15/05/2015      03/03/2009          1176.06         1172.00        1171.43
15/08/2024      02/03/2009           648.24          640.82         640.51
15/05/2015      02/03/2009          1169.40         1165.37        1164.80
15/08/2024      27/02/2009           646.08          638.67         638.11
15/05/2015      27/02/2009          1162.78         1158.77        1157.72

                           Data_Vencimento  Data_Base  Tipo  \
Data Vencimento Data Base
15/08/2024      06/08/2009      2024-08-15 2009-08-06  IPCA
15/05/2015      06/08/2009      2015-05-15 2009-08-06  IPCA
15/08/2024      05/08/2009      2024-08-15 2009-08-05  IPCA
15/05/2015      05/08/2009      2015-05-15 2009-08-05  IPCA
15/08/2024      04/08/2009      2024-08-15 2009-08-04  IPCA
15/05/2015      04/08/2009      2015-05-15 2009-08-04  IPCA
15/08/2024      03/08/2009      2024-08-15 2009-08-03  IPCA
15/05/2015      03/08/2009      2015-05-15 2009-08-03  IPCA
15/08/2024      31/07/2009      2024-08-15 2009-07-31  IPCA
15/05/2015      31/07/2009      2015-05-15 2009-07-31  IPCA
...                                    ...        ...   ...
15/08/2024      04/05/2009      2024-08-15 2009-05-04  IPCA
15/05/2015      04/05/2009      2015-05-15 2009-05-04  IPCA
                30/04/2009      2015-05-15 2009-04-30  IPCA
15/08/2024      30/04/2009      2024-08-15 2009-04-30  IPCA
                03/03/2009      2024-08-15 2009-03-03  IPCA
15/05/2015      03/03/2009      2015-05-15 2009-03-03  IPCA
15/08/2024      02/03/2009      2024-08-15 2009-03-02  IPCA
15/05/2015      02/03/2009      2015-05-15 2009-03-02  IPCA
15/08/2024      27/02/2009      2024-08-15 2009-02-27  IPCA
15/05/2015      27/02/2009      2015-05-15 2009-02-27  IPCA

                                            dt_update
Data Vencimento Data Base
15/08/2024      06/08/2009 2024-04-23 01:01:50.523546
15/05/2015      06/08/2009 2024-04-23 01:01:50.528276
15/08/2024      05/08/2009 2024-04-23 01:01:50.528850
15/05/2015      05/08/2009 2024-04-23 01:01:50.529379
15/08/2024      04/08/2009 2024-04-23 01:01:50.534936
15/05/2015      04/08/2009 2024-04-23 01:01:50.537672
15/08/2024      03/08/2009 2024-04-23 01:01:50.538393
15/05/2015      03/08/2009 2024-04-23 01:01:50.539039
15/08/2024      31/07/2009 2024-04-23 01:01:50.539628
15/05/2015      31/07/2009 2024-04-23 01:01:50.540184
...                                               ...
15/08/2024      04/05/2009 2024-04-23 01:01:56.711111
15/05/2015      04/05/2009 2024-04-23 01:01:56.711462
                30/04/2009 2024-04-23 01:01:56.711812
15/08/2024      30/04/2009 2024-04-23 01:01:56.712162
                03/03/2009 2024-04-23 01:01:56.712520
15/05/2015      03/03/2009 2024-04-23 01:01:56.712874
15/08/2024      02/03/2009 2024-04-23 01:01:56.713285
15/05/2015      02/03/2009 2024-04-23 01:01:56.713712
15/08/2024      27/02/2009 2024-04-23 01:01:56.714248
15/05/2015      27/02/2009 2024-04-23 01:01:56.714741

[15389 rows x 9 columns]

In [34]:

#frames = [prefixado, ipca]
#todos = pd.concat(frames)
ipca = ipca.rename(columns={"Data Vencimento": "DataVencimento", "Data Base": "Data_Base", "Taxa Compra Manha": "CompraManha", "Taxa Venda Manha": "VendaManha", "PU Compra Manha": "PUCompraManha", "PU Venda Manha": "PUVendaManha",  "PU Base Manha": "PUBaseManha"})
prefixado = prefixado.rename(columns={"Data Vencimento": "DataVencimento", "Data Base": "Data_Base", "Taxa Compra Manha": "CompraManha", "Taxa Venda Manha": "VendaManha", "PU Compra Manha": "PUCompraManha", "PU Venda Manha": "PUVendaManha",  "PU Base Manha": "PUBaseManha"})

In [35]:
ipca

                            CompraManha  VendaManha  PUCompraManha  \
Data Vencimento Data Base
15/08/2024      06/08/2009         6.45        6.53         722.50
15/05/2015      06/08/2009         6.58        6.64        1276.19
15/08/2024      05/08/2009         6.48        6.56         719.21
15/05/2015      05/08/2009         6.60        6.66        1274.38
15/08/2024      04/08/2009         6.51        6.59         715.94
15/05/2015      04/08/2009         6.60        6.66        1273.94
15/08/2024      03/08/2009         6.52        6.60         714.69
15/05/2015      03/08/2009         6.63        6.69        1271.43
15/08/2024      31/07/2009         6.52        6.60         714.45
15/05/2015      31/07/2009         6.67        6.73        1268.25
...                                 ...         ...            ...
15/08/2024      04/05/2009         7.18        7.26         632.51
15/05/2015      04/05/2009         7.38        7.44        1184.87
                30/04/2009         7.36        7.42        1185.70
15/08/2024      30/04/2009         7.16        7.24         634.05
                03/03/2009         6.92        7.00         644.82
15/05/2015      03/03/2009         7.19        7.25        1176.06
15/08/2024      02/03/2009         6.88        6.96         648.24
15/05/2015      02/03/2009         7.28        7.34        1169.40
15/08/2024      27/02/2009         6.90        6.98         646.08
15/05/2015      27/02/2009         7.37        7.43        1162.78

                            PUVendaManha  PUBaseManha Data_Vencimento  \
Data Vencimento Data Base
15/08/2024      06/08/2009        714.42       714.17      2024-08-15
15/05/2015      06/08/2009       1272.06      1271.63      2015-05-15
15/08/2024      05/08/2009        711.17       710.93      2024-08-15
15/05/2015      05/08/2009       1270.25      1269.81      2015-05-15
15/08/2024      04/08/2009        707.94       707.69      2024-08-15
15/05/2015      04/08/2009       1269.81      1269.37      2015-05-15
15/08/2024      03/08/2009        706.70       706.46      2024-08-15
15/05/2015      03/08/2009       1267.32      1266.88      2015-05-15
15/08/2024      31/07/2009        706.46       706.08      2024-08-15
15/05/2015      31/07/2009       1264.14      1263.47      2015-05-15
...                                  ...          ...             ...
15/08/2024      04/05/2009        625.36       625.10      2024-08-15
15/05/2015      04/05/2009       1180.89      1180.39      2015-05-15
                30/04/2009       1181.71      1180.70      2015-05-15
15/08/2024      30/04/2009        626.88       626.34      2024-08-15
                03/03/2009        637.44       637.14      2024-08-15
15/05/2015      03/03/2009       1172.00      1171.43      2015-05-15
15/08/2024      02/03/2009        640.82       640.51      2024-08-15
15/05/2015      02/03/2009       1165.37      1164.80      2015-05-15
15/08/2024      27/02/2009        638.67       638.11      2024-08-15
15/05/2015      27/02/2009       1158.77      1157.72      2015-05-15

                            Data_Base  Tipo                  dt_update
Data Vencimento Data Base
15/08/2024      06/08/2009 2009-08-06  IPCA 2024-04-23 01:01:50.523546
15/05/2015      06/08/2009 2009-08-06  IPCA 2024-04-23 01:01:50.528276
15/08/2024      05/08/2009 2009-08-05  IPCA 2024-04-23 01:01:50.528850
15/05/2015      05/08/2009 2009-08-05  IPCA 2024-04-23 01:01:50.529379
15/08/2024      04/08/2009 2009-08-04  IPCA 2024-04-23 01:01:50.534936
15/05/2015      04/08/2009 2009-08-04  IPCA 2024-04-23 01:01:50.537672
15/08/2024      03/08/2009 2009-08-03  IPCA 2024-04-23 01:01:50.538393
15/05/2015      03/08/2009 2009-08-03  IPCA 2024-04-23 01:01:50.539039
15/08/2024      31/07/2009 2009-07-31  IPCA 2024-04-23 01:01:50.539628
15/05/2015      31/07/2009 2009-07-31  IPCA 2024-04-23 01:01:50.540184
...                               ...   ...                        ...
15/08/2024      04/05/2009 2009-05-04  IPCA 2024-04-23 01:01:56.711111
15/05/2015      04/05/2009 2009-05-04  IPCA 2024-04-23 01:01:56.711462
                30/04/2009 2009-04-30  IPCA 2024-04-23 01:01:56.711812
15/08/2024      30/04/2009 2009-04-30  IPCA 2024-04-23 01:01:56.712162
                03/03/2009 2009-03-03  IPCA 2024-04-23 01:01:56.712520
15/05/2015      03/03/2009 2009-03-03  IPCA 2024-04-23 01:01:56.712874
15/08/2024      02/03/2009 2009-03-02  IPCA 2024-04-23 01:01:56.713285
15/05/2015      02/03/2009 2009-03-02  IPCA 2024-04-23 01:01:56.713712
15/08/2024      27/02/2009 2009-02-27  IPCA 2024-04-23 01:01:56.714248
15/05/2015      27/02/2009 2009-02-27  IPCA 2024-04-23 01:01:56.714741

[15389 rows x 9 columns]

## Grava os dados no Banco de Dados

In [36]:
connection_string = "postgresql://postgres:XqNuKeQw123@localhost:5432/postgres"

In [37]:
engine = create_engine(connection_string)

In [38]:
ipca.to_sql("dadostesouroipca", con=engine, if_exists="append", index=False)
prefixado.to_sql("dadostesouropre", con=engine, if_exists="append", index=False)

851